body {
	background-color: #659dbd;
	color: white;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
	background-color: transparent;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
}
